
.extension-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media only screen and (min-width: 600px) {
    .extension-grid {
        grid-template-columns: 1fr 1fr;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .extension-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 