.app__extensions-toolbar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    .app__extensions-toolbar {
        margin-top: 60px;
        flex-direction: row;
        justify-content: space-between;
    }
}